﻿@model WebAppmvc.Models.BuyNow


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 10pt;
		}

		table th, table td {
			padding: 5px;
		}
	</style>
</head>
<body>
	<div>
		@using (Html.BeginForm("BuyNow", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="width: 80px">
						Name:
					</td>
					<td>
						@Html.TextBoxFor(model => model.NameOnCreditCard)
					</td>
				</tr>
				<tr>
					<td>
						Number:
					</td>
					<td>
						@Html.TextBoxFor(model => model.CreditCardNumber)
					</td>
				</tr>
				<tr>
					<td>
						Expiry Date:
					</td>
					<td>
						@Html.TextBoxFor(model => model.ExpiryDate)
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<input type="submit" value="PayNow" />
					</td>
				</tr>
			</table>
			<br />
			<span style="color:green">@ViewBag.Message</span>
		}
	</div>
</body>
</html>
