﻿@model IEnumerable<WebAppmvc.Models.BuyNow>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "Buy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

	<table>
		<tr>
			<td>
				Search Option:
			</td>
			<td>
				@Html.RadioButton("option", "Visa") <text>Visa</text>
			</td>
			<td>
				@Html.RadioButton("option", "Master") <text>Master</text>
			</td>
			<td>
				@Html.RadioButton("option", "American Express") <text>American Express</text>
			</td>
		</tr>

	</table>
	<br /><br/><br />


	
			@Html.Label("Please Enter Your Card Details Below")
		
	<br/>
		<table>
			<tr>
				<td><label>Name</label></td>
				<td><input type="text" class="form-control" name="text" value="" placeholder="Name" /></td>
			</tr>
			<tr>
				<td><label class="sr-only">Card Number</label></td>
				<td><input type="text" class="form-control" name="text" value="" placeholder="Card Number" /></td>
			</tr>
		<tr>
			<td><label class="sr-only">Expiry Date</label></td>
			<td>
				<input type="text" class="form-control" name="text" value="" placeholder="Expiry Date" />
			</td>
		</tr>
			<tr>
				<td>
				@*<button type="submit" class="btn btn-default btn-lg"> Pay Now </button>*@
					<input type="submit" value="Pay Now" />

				</td>
			</tr>
	</table>

}
