﻿@model IEnumerable<WebAppmvc.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@



@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{

<div class="radio-inline">
	<table>
	<tr>
		<td>
			Search Option
		</td>
		<td>
			@Html.RadioButton("option", "Name") <text>Name</text>
		</td>
		<td>
			@Html.RadioButton("option", "Search") <text>Street</text>
		</td>
		<td>
			<input type="text" placeholder="Search" value="search" />
		</td>
	</tr>

	</table>
	
	
</div>


}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}


</table>
