﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Template Header Files *@
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="Sublime Stunning free HTML5/CSS3 website template" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/reset.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/fancybox-thumbs.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/fancybox-buttons.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/fancybox.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/animate.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/main.css">

    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/fancybox.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/fancybox-buttons.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/fancybox-media.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/fancybox-thumbs.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/wow.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/main.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
