﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mytemplate.cshtml";
}

<section class="billboard dark">
    <header class="wrapper dark">
        <a href="#"><img class="logo" src="img/logo_dark.png" alt="" /></a>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="caption dark animated wow fadeInDown clearfix">
        <h1>Food Love</h1>
        <p></p>
        <hr>
    </div>
    <div class="shadow"></div>
</section><!--  End billboard  -->


<section class="services wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <img class="icon" src="img/icon1.png" alt="" />
            <span class="separator"></span>
            <h2>Food Love</h2>
            <p>
                Fetching Best Discounts only for you 
            </p>
        </ul>
</section><!--  End services  -->


